body{
    background: radial-gradient(ellipse at center, #9fa1a3 0%,#6a7bd3 100%);
}
.form{
    background-color: transparent;
    box-sizing: border-box;
    width:320px;
    display: block;
    margin:auto;
    padding: 10px 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px rgb(12, 12, 12);
    border-radius: 12px;
}
form .header{
    text-align: center;
    color: rgb(90 16 16);
    font-size: 22px;
}
.form label,input{
    display:block;

}
.form input{
    width:90%;
    margin-bottom: 18px;
    height: 25px;
    background-color: rgb(192, 185, 185);
    border-radius: 4px;
    font-size: 18px;
    padding: 3px 5px;
}
.form label{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}
.form .header{
    text-align: center;
    font-size: 25px;
}
form button{
    width:90%;
    display:block;
    padding: 8px 0px;
    margin:auto;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #9564a0;
}
button:hover{
    background-color: #816488;
    cursor: pointer;
}
.links{
	text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.links a{
	color: rgb(214 21 21);
    font-size: 18px;
	font: 20px;
}
.links a:hover{
	color:rgb(137, 36, 160);
}