<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadsters| Home</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <div class="header">
        <div id="top">
            <h1 class="top">Welcome to Roadsters</h1>
        </div>
        <p>An online marketplace for buyers and sellers of bicycle</p>
    </div>
    <div class="buttons">
       <a href="/buyer/dashboard"> <button>I am a buyer</button></a>
       <a href="/login"> <button>I am a seller</button></a>
    </div>
</body>


</html>