<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadsters | Signin</title>
    <link rel="stylesheet" href="css/signin.css">
</head>

<body>
    <div class="form">
            <div class="header">
                <h1>Signup</h1>
            </div>
            <div class="main">
                <form action="/signup" method="post">
                    <% if(error_msg!=' ') { %>
                        <h4 class="header"><%= error_msg %></h4>
                        <% } %>
                    <label for="userid">Username</label>
                    <input type="text" name="userid" id="userid" placeholder="Username"  required>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name" required>
                    <label for="phone">Mobile No.</label>
                    <input type="text" name="phone" id="phone" placeholder="Mobile No." required>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" id="cpassword" name='confirmpassword' placeholder="Confirm Password" required>
                    <button>Register</button>
                </form>
            </div>
			<div class="links">
				<a href="/login">Already Registered?SignIN</a><br><br>
				<a href="/buyer/dashboard">I am a buyer</a>
			</div>
    </div>
</body>
</html>